<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088650776813-tq96efkikk3106vapdjo3nra8fbedlg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088650776813-tq96efkikk3106vapdjo3nra8fbedlg2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1088650776813-6mgm3nl32c6mo0c6efcvc1bh5rc5qemn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsvhGuMe2sVElDtCgv28HjzEl6nCJqUlA</string>
	<key>GCM_SENDER_ID</key>
	<string>1088650776813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.example</string>
	<key>PROJECT_ID</key>
	<string>social-login-8b8bc</string>
	<key>STORAGE_BUCKET</key>
	<string>social-login-8b8bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088650776813:ios:d7842582ff85cf33353ce4</string>
</dict>
</plist>